---
---

@charset "utf-8";

$base-font-family: Verdana, Geneva, sans-serif;
$base-font-size:   12px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #073763;
$brand-color:      #cc1118;

@import "base";
@import "layout";
