<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | escape }}</title>
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
    <link rel="shortcut icon" href="{{ '/images/favicon.ico' | prepend: site.baseurl }}" />
  </head>
  <body>
    <div class="container">
      <div class="center">
        <div class="header">
          <h1>Runt jorden!</h1>
        </div>
        <div class="row">
          <div class="left">
            {{ content }}
          </div>
          <div class="right">
            <img class="us" src="{{ '/images/nyastestebild.jpg' | prepend: site.baseurl }}"/>
            <div class="our-trip">
              <h4>VÅR RESA</h4>
              <h5>15 januari</h5>
              <p class="done">Köpenhamn, Danmark --> Kairo, Egypten</p>
              <h5>20 januari</h5>
              <p class="done">Kairo, Egypten --> Nairobi, Kenya</p>
              <h5>9 februari</h5>
              <p class="done">Dar es Salaam, Tanzania --> Mumbai, Indien </p>
              <h5>2 mars</h5>
              <p class="done">New Delhi, Indien --> Kuala Lumpur, Malaysia --> Koh Samui, Thailand</p>
              <h5>3 april </h5>
              <p class="done">Krabi, Thailand --> Kuala Lumpur, Malaysia --> Sydney, Australien</p>
              <h5>17 april</h5>
              <p class="done">Brisbane, Australien --> Auckland, Nya Zeeland</p>
              <h5>24 april</h5>
              <p class="done">Auckland, Nya Zeeland --> Rarotonga, Cooköarna</p>
              <h5>30 april</h5>
              <p class="done">Rarotonga, Cooköarna --> Los Angeles, USA</p>
              <h5>16 maj</h5>
              <p class="done">Los Angeles, USA --> Hem (via London)</p>
            </div>
            <div class="google-map">
              <a target="_blank" href="http://maps.google.com/maps/ms?ie=UTF8&hl=en&msa=0&msid=112796622693874002748.000493dc0726aa364c995&t=h&z=2">
                <img src="{{ '/images/p_ruttmaja.png' | prepend: site.baseurl }}"/>
              </a>
              <p>(det går att klicka på kartan)</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
